
@font-face {
    font-family: 'raleway-regular';
    src: url('../fonts/raleway-regular.eot');
    src: url('../fonts/raleway-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway-regular.woff') format('woff'),
         url('../fonts/raleway-regular.ttf') format('truetype'),
         url('../fonts/raleway-regular.svg#raleway-regular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'raleway-semibold';
    src: url('../fonts/raleway-semibold.eot');
    src: url('../fonts/raleway-semibold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway-semibold.woff') format('woff'),
         url('../fonts/raleway-semibold.ttf') format('truetype'),
         url('../fonts/raleway-semibold.svg#raleway-semibold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'raleway-bold';
    src: url('../fonts/raleway-bold.eot');
    src: url('../fonts/raleway-bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway-bold.woff') format('woff'),
         url('../fonts/raleway-bold.ttf') format('truetype'),
         url('../fonts/raleway-bold.svg#raleway-bold') format('svg');
    font-weight: normal;
    font-style: normal;

}




body{
    background: #fff;
	overflow-x:hidden;
}

.wrapper{
    width: 1100px;
    margin: 0 auto;
}

h1, h2, h3, h4, h5 ,h6{
    color: #626262;
    font-family: "raleway-regular", arial;
    letter-spacing: 1px;
}

h1              { font-size: 2em; margin: .67em 0 }
h2              { font-size: 1.5em; margin: .75em 0 }
h3              { font-size: 1.17em; margin: .83em 0 }
h5              { font-size: .83em; margin: 1.5em 0 }
h6              { font-size: .75em; margin: 1.67em 0 }
h1, h2, h3, h4,
h5, h6          { font-weight: bolder }

.clearfix:before,  
.clearfix:after {  
    content: " ";  
    display: table;  
}  
.clearfix:after {  
    clear: both;  
}  
 
.clearfix {  
    *zoom: 1;  
}


.logo {
    width: 15%;
}

.icon {
    border-radius: 30px;
}


/*    Billboard    */
.billboard{
    width: 100%;
    height: 690px;
    position: relative;
}

.billboard.light{
    background: url('../img/rest.JPG') no-repeat;   
     
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.billboard.dark{
    background: url('../img/billboard2.jpg') no-repeat;
    
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}


.billboard .shadow{
    position: absolute;
    width: 100%;
    height: 142px;
    bottom: 0;
    left: 0;
    margin-bottom: -1px;
    background: url('../img/shadow.png') repeat-x;
}

.billboard .caption{
    margin-top: 130px;
    text-align: center;
}

.billboard .caption.light{
    color: #fff;
}

.billboard .caption.dark{
    color: #5d5d5d;
}

.billboard .caption h1{
    font-family: "raleway-bold";
    font-size: 50px;
    font-weight: bold; 
    margin-bottom: 30px;
}

.billboard .caption.light h1{
    color: #fff;
}

.billboard .caption.dark h1{
    color: #5d5d5d;
}

.billboard .caption p{
    font-family: "raleway-regular";
    font-size: 18px;
    margin-bottom: 30px;
}

.billboard .caption.light p{
    color: #fff;
}

.billboard .caption.dark p{
    color: #5d5d5d;
}

.billboard .caption hr{
    display: inline-block;
    height: 1px;
    width: 30px;
    border: 0!important;   
    margin: 0;
    padding: 0;
}

.billboard .caption.light hr{
    background: #fff;
}

.billboard .caption.dark hr{
    background: #5d5d5d;
}






/*    header    */
header{
    width: 100%;
    height: 125px;
}

header .logo{
    float: left;
    margin-top: 50px;
    width:13%;
	
}

header nav{
    float: right;
    margin-top: 57px;
}


header nav ul li{
    list-style: none;
    display: block;
    float: left;
    margin-left: 50px;
	border: 2px solid black;
	background:black;
}

header nav ul li a{
    text-decoration:none;  
    font-family: "raleway-regular";
    font-size: 20px;
	font-weight:bold;
    transition:all .2s linear;
    -webkit-transition:all .2s linear;
    -moz-transition:all .2s linear;
    -o-transition:all .2s linear;
}

header.light nav ul li a{  
    color: #fff;
	
}

header.light nav ul li a:hover{
    color: #B9B9B9;
}

header.dark nav ul li a{  
    color: #5d5d5d;
}

header.dark nav ul li a:hover{
    color: #919191;
}







/*    Services    */
.services ul{
    margin-top: 100px;
}

.services ul li{
    list-style: none;
    display: block;
    width: 313px;
    float: left;
    margin-left: 80px;
    text-align: center;
}

.services ul li:first-child{
    margin-left: 0;
}

.services ul li .separator{
    display: block;
    width: 1px;
    height: 20px;
    background: #f6f6f6;
    margin: 20px auto;
}

.services ul li h2{
    color: #616161;
    font-family: "raleway-bold";
    font-size: 18px;
    font-weight: bold;
    margin: 0;
}

.services ul li p{
   color: #838181;
    font-family: "raleway-regular";
    font-size: 14px;
    line-height: 28px; 
    margin-top: 40px;
    letter-spacing: .5px;
}







/*    Video    */
.video{
    display: block;
    width: 100%;
    padding: 2em;
    text-align: center;
    margin-top: 100px;
    background: url('../img/foodie5.jpg') no-repeat;    
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.video .video_logo{
    margin-top: 85px;
}

.video h3{
    color: #fff;
    font-family: "raleway-regular";
    font-size: 14px;
    font-weight: normal!important;
    margin: 20px 0 0 0;
}

.video #play_btn{
    display: inline-block;
    width: 71px;
    height: 71px;
    background: url('../img/play_btn.png') no-repeat;
    margin-top: 40px;
}




.title{
    text-align: center;
    overflow: hidden;
}

.title h2{
    color: #616161;
    font-family: "raleway-bold";
    font-size: 30px;
    font-weight: bold;
    margin: 0 0 20px 0;
    text-transform: uppercase;
}

.title h3{
    color: #9b9b9b;
    font-family: "raleway-regular";
    font-size: 14px;
    margin: 0 0 20px 0;
    font-weight: normal!important;
}

.title hr.separator{
    display: block;
    width: 40px;
    height: 1px;
    background-color: #ebebeb;
    margin: 0 auto;
    padding: 0;
    border: 0!important;
}

/*    testimonials    */
.testimonials{
    margin-top: 100px;
}

/*    footer    */
footer{
    padding: 35px 0;
    overflow: hidden;
}

footer .footer_logo{
    float: left;
}

footer .rights p{
    float: left;
    color: #838181;
    font-family: "raleway-regular";
    font-size: 13px;
    margin: 5px 0 0 40px; 
}

footer .rights p a{
    color: #777;
    font-family: "raleway-semibold";
    font-size: 13px;
    font-weight: bold;
    text-decoration: none;
}

footer nav ul{
    float: right;
    overflow: hidden;
    list-style: none;
    margin-top: 5px; 
}

footer nav ul li{
    float: left;
    margin-left: 25px;
}

footer nav ul li a{
    color: #838181;
    font-family: "raleway-regular";
    font-size: 13px;
    text-decoration: none;

    transition:all .2s linear;
    -webkit-transition:all .2s linear;
    -moz-transition:all .2s linear;
    -o-transition:all .2s linear;
}

footer nav ul li a:hover{
    color: #616161;
}
#reservation{
		margin-left:12rem;
		line-height:1.5rem;
		padding:3rem;
}
#button{
	background-color:#e60e5d;
	color:white;
	padding:0.5rem;
}
#image{
	height:450px;
	width:450px;
	margin-left:40rem;
	margin-top:-20rem;
	padding:3rem;
}
#call{
	position:relative;
	height:47px;
	width:47px;
	margin-left:-3.3rem;
	top:3.7rem;
}
#hall{
	padding:8px;
	background: url('../img/blue2.jpg') no-repeat;
	background-size:100%;
}
#text{
	color:white;
	text-align:center;
}
#heading{
	color:white;
}	
.nav-bar .fa{
	display:none;
}
@media(max-width:1140px){
	.fa-bars{
	position:absolute;
	top:47px;
	right:1px;
	background-color:white;
}
.fa-close{
	position:absolute;
	top:10px;
	right:1px;
	background-color:white;
}
.nav-bar .fa{
	display:block;
	margin:10px 25px;
	font-size:22px;
	cursor:pointer;
}
.nav-links{
	height: 100vh;
	width: 200px;
	background:#0000;
	top: 0;
	right:-200px;
	position:absolute;
	text-align:left;
	z-index:2;
	
}

.nav-links ul a{
	display:block;
}
header nav ul li{
	margin-top:0.5rem;
	margin-left:0.2rem;
	margin-right:5rem;
	padding-top:1rem;
	padding:2px;
	background:rgba(0,0,0,0.6);
	font-size:20px;
}
.services ul li{
	flex-direction:column;
	float:none;
	text-align:center;
	margin-left:18rem;
	margin-right:-0.1rem;
}
.para{
	margin-left:18rem;
	text-align:center;
	margin-right:-18rem;
	
}
.para .icon{
	height:210px;
	width:500px;
}
.video{
	width:80%;
	margin-left:1.5rem;
	margin-right:-1.5rem;
}
.video h3 {
	font-size:25px;
	font-weight:2000px;
}
.video .logo{
	height:80px;
	width:150px;
	margin-right:-2.5rem;
}
#hall{
	padding:10px;
	background: url('../img/blue2.jpg') no-repeat;
	height:100%;
	width:53%;
	margin-left:8.5rem;
}	
#heading{
	font-size:15px;
}
#text{
	font-size:10px;
}
.testimonials{
	margin-top:50px;
}
#reservation{
	margin-left:6rem;
}
#image{
	height:300px;
	width:300px;
	margin-left:24.1rem;
	margin-top:-18rem;
}
footer nav ul{
    float:left;
    overflow: hidden;
    list-style: none;
    margin-top: 30px; 
	margin-left:1rem;
}
footer .rights p{
	margin:5px -350px 0 300px; 
}
}

@media(max-width:750px){
	.fa-bars{
	position:absolute;
	top:47px;
	right:1px;
	background-color:white;
}
.fa-close{
	position:absolute;
	top:10px;
	right:1px;
	background-color:white;
}
.nav-bar .fa{
	display:block;
	margin:20px 25px;
	font-size:22px;
	cursor:pointer;
}
.nav-links ul{
	height: 100vh;
	width: 200px;
	background:#0000;
	top: 0;
	right:-250px;
	position:absolute;
	text-align:left;
	z-index:2;
	
}

.nav-links ul a{
	display:block;
	
}
header nav ul li{
	margin-top:0.5rem;
	margin-left:0.2rem;
	margin-right:5rem;
	padding-top:1rem;
	padding:2px;
	background:rgba(0,0,0,0.6);
	font-size:20px;
}
.services ul li{
	flex-direction:column;
	float:none;
	text-align:center;
	margin-left:4.3rem;
	margin-right:-5rem;
}
.para{
	margin-left:4.3rem;
	margin-right:-5rem;
	text-align:center;
	
}
.para .icon{
	height:210px;
	width:500px;
}
.video{
	width:80%;
	margin-left:1.5rem;
	margin-right:-1.5rem;
}
.video h3 {
	font-size:25px;
	font-weight:2000px;
}
.video .logo{
	height:80px;
	width:150px;
	margin-right:-2.5rem;
}
#hall{
	padding:10px;
	width:40%;
	margin-left:0.7rem;
	margin-right:-0.2rem;
}	
#heading{
	font-size:15px;
}
#text{
	font-size:10px;
}
.testimonials{
	margin-top:50px;
}
#reservation{
	margin-left:6rem;
}
#image{
	height:300px;
	width:300px;
	margin-left:2rem;
	margin-top:-1rem;
}
footer nav ul{
    float:left;
    overflow: hidden;
    list-style: none;
    margin-top: 30px; 
	margin-left:-17.5rem;
}
footer .rights p{
	margin:5px 0 0 10px; 
}
}
